/* I'm new to CSS, there may be a little more here than there is necessary... */



.quasar-bar {
    position: absolute; 
    display: block; 
    left: -11px; 
    top: 80px; 
    width: 60px; 
    height: 28.5%; 
    overflow: visible; 
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(42,42,42,0.6334908963585435) 100%);
    overflow-x: visible;
    transition: 0.5s;
    border: 4px groove black;
    border-radius: 8px;
    
}

.quasar-wrapper {
    margin-top: 10px;
    left: -5px;
}

.quasar-bar a {
    text-decoration: none;
    font-size: 8px;
    font-family: 'Press Start 2P', monospace;
    color: white;
    display: block; 
    letter-spacing: normal;
    padding-bottom: 20px;
    transition: 0.3s;
    

}

.quasar-bar .close {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.quasar-wrapper a:after {
    z-index: 1;
    position: absolute;
    left: 0%;
    width: 0;
    height: 10px;
    background: red;
    content: '';
    transition: width 0.35s ease-in-out;
}

.quasar-wrapper a:hover:after {
    width: 10%;
}

.quasar-wrapper a:hover {
    padding-left: 19px;
    transition: 0.2s ease-in-out;
}

.quasar-wrapper img {
    left: -5px;
}

.quasar-wrapper a .tooltip {
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 2s;
    position: absolute;
    z-index: 1;
    left: 120%;
    margin-top: 5px;
}

.quasar-wrapper a .tooltip::after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    top: 50%;
    right: 100%;
    border-style: solid;
    border-color: transparent rgb(107, 103, 103) transparent transparent;
}

.quasar-wrapper a:hover .tooltip {
    visibility: visible;
    opacity: 0.5;
}

.quasar-submenu {
    visibility: hidden; 
    position: absolute; 
    display: block; 
    left: 500px; 
    top: -500px; 
    width: 580px; 
    height: 28%; 
    overflow: visible; 
    background: rgb(0,0,0); 
    background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(42,42,42,0.6334908963585435) 100%); 
    overflow-x: hidden; 
    transition: 0.5s; 
    border: 4px groove black; 
    border-radius: 8px; 
    font-family: 'Press Start 2P', monospace;
    font-size: 10px; 
    text-align: left;
    
}

.quasar-submenu ul {
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}

.player-pictureframe {
    background-color: rgb(30, 30 ,30); 
    border: solid black; 
    border-radius: 5px;
    width: 200px;
    height: 150px;
    overflow: hidden; 
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
}

.player-picker {
    font-family: 'Press Start 2P', monospace;
    background-color: rgb(14, 13, 13);
    color: white;
    left: 210px;
    top: 10px;
    font-size: 10px; 
    border: 2px solid black;
    border-radius: 5px; 
    position: absolute;
    padding-right: 120px;
    
}

.others-information {
    visibility: hidden;
    font-family: 'Press Start 2P', monospace;
    background-color: rgb(14, 13, 13);
    color: white;
    border: 2px solid black;
    position: absolute;
    left: 210px;
    font-size: 10px; 
    top: 40px;
    white-space: nowrap;
    padding: 2px;
    border-radius: 5px; 
}

.execute-button {
    visibility: hidden;
    font-family: 'Press Start 2P', monospace;
    background-color: rgb(14, 13, 13);
    color: white;
    border: 2px solid black;
    position: absolute;
    left: 460px;
    font-size: 12px; 
    top: 82px;
    white-space: nowrap;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer; 
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.execute-button:active {
    background-color: rgb(5, 5, 5);
    color: rgb(14, 13, 13);
}

.tweak-information {
    background-color: rgb(30, 30 ,30); 
    border: solid black; 
    border-radius: 5px;
    overflow: hidden; 
    position: absolute;
    left: 215px;
    top: 40px; 
    padding: 4px; 
    text-align: left; 
    font-size: 10px; 
    visibility: hidden;
    resize: none;
    color: white;
}

.toggle input {
    display: none;
  }
  
  .toggle {
    position: absolute;
    visibility: hidden;
    display: inline-block;
    width: 108px;
    height: 20px;
    left: 290px;
    top: 128px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    border: solid black; 
    border-radius: 10px;
    transition: all 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 2px;
    top: 2px;
    background-color: #eee;
    border-radius: 14px;
    transition: all 0.4s;
  }
  

  input:checked + .slider {
    background-color: green;
  }
  input:checked + .slider:before {
    transform: translateX(84px);
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(48, 48, 48, 0);
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgb(8, 8, 8);
    border-radius: 10px;
  }
